.wrapper__main-chat

  .wrapper__main-chat__group-info
    .wrapper__main-chat__group-info__left
      .wrapper__main-chat__group-info__left__group-name
        = @group.name
      .wrapper__main-chat__group-info__left__member
        Member：
        - @group.users.each do |user|
          = user.name
    .wrapper__main-chat__group-info__right
      .wrapper__main-chat__group-info__right__btn
        = link_to "Edit", edit_group_path(@group), class: 'edit-btn'
        -# = link_to "Edit", "edit", class: 'edit-btn'
        -# = link_to "Edit", "/groups/#{@group.id}/edit", class: 'edit-btn'



  .wrapper__main-chat__message-list
    = render partial: 'message', collection: @messages

  .wrapper__main-chat__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'text-box', placeholder: 'type a message'  
      .wrapper__main-chat__message-form__btn
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'image-icon'
      = f.submit 'Send', class: 'send-btn'